$theme1: #1A2C56;
$theme2: #2BB573;
$theme3: #e3e1dd;
$theme4: #c7b48e;
$theme5: #e3b102;
$theme6: #f4f3f1;
$theme7: #f4eae0;
$sm: 768px;
$md: 992px;
$lg: 1024px;
$hd: 1200px;
$hdd: 1400px;


%transition {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

%transition2 {
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

%transition3 {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

@mixin image(){
	position:relative;
	img{
		width:100%;
	}
	.icon{
		position:absolute;
		right:10px;
		bottom:10px;
		max-width: 150px;
		z-index:1;
		@media only screen and (min-width: $sm) {
			max-width:370px;
			bottom:20px;
		}
	}
	.caption{
		font-size:8px;
		margin-bottom:0;
		padding:10px;
		color:#fff;
		text-transform:uppercase;
		position:absolute;
		left:10px;
		bottom:0;
		z-index:1;
	}
}

@mixin caption(){
	position: absolute;
	right: 0;
	bottom: 0;
	margin:0;
	padding: 10px;
	color: #fff;
	font-size: 12px;
}
@mixin heading1(){
	font-size:32px;
	margin-bottom:20px;
	line-height:1.1;
	@extend %font1;
	@media only screen and (min-width: $md) {
		font-size:43px;
		margin-bottom:30px;
	}
}

@mixin heading2(){
	font-size:26px;
	margin-bottom:20px;
	line-height:1.1;
	@extend %font3;
	@media only screen and (min-width: $md) {
		font-size:32px;
		margin-bottom:40px;
	}
}

@mixin line(){
	width:12px;
	height:100%;
	left:0;
	top:0;
	background:$theme2;
	content:'';
	position:absolute;
	@media only screen and (min-width: $md) {
		width:22px;
	}
	&:after{
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 0 0px 14px 22px;
		border-color: transparent transparent $theme1 transparent;
		content:'';
		bottom:0;
		position:absolute;
	}
	&:before{
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 0 0px 14px 22px;
		border-color: transparent transparent $theme1 transparent;
		transform: rotate(180deg);
		content:'';
		top:0;
		position:absolute;
	}
}



@font-face {
	font-family: 'Aeonik-Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Aeonik-Regular'), url('../fonts/Aeonik-Regular.woff') format('woff');
}

%font1 {
	font-family: 'Aeonik-Regular', serif;
	font-style: normal;
	font-weight: normal;
}


@font-face {
	font-family: 'Aeonik-Medium';
	font-style: normal;
	font-weight: normal;
	src: local('Aeonik-Medium'), url('../fonts/Aeonik-Medium.woff') format('woff');
}

%font2 {
	font-family: 'Aeonik-Medium', serif;
	font-style: normal;
	font-weight: normal;
}


@font-face {
	font-family: 'Aeonik-Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Aeonik-Bold'), url('../fonts/Aeonik-Bold.woff') format('woff');
}

%font3 {
	font-family: 'Aeonik-Bold', serif;
	font-style: normal;
	font-weight: normal;
}