@import 'mixins';

/* basic 
==================================== */
body {
	overflow-x: hidden;
	@extend %font1;
	font-size: 16px;
	line-height: 1.5;
	color: $theme1;
}

input:-internal-autofill-previewed, input:-internal-autofill-selected, textarea:-internal-autofill-previewed, textarea:-internal-autofill-selected, select:-internal-autofill-previewed, select:-internal-autofill-selected {
	background-color: transparent!important;
}

textarea.form-control{
	height:140px;
}

.form-control{
	color: $theme1;
	padding: 15px 20px;
	border-radius: 10px;
	border: 0;
	background:#e4e6eb;
	height: auto;
	font-size: 16px;
	line-height:1;
	@media only screen and (min-width: $md) {
		font-size: 22px;
	}

}
.form-control:focus, button:focus, :focus {
	outline: 0;
	box-shadow: none;
}

.form-control:focus{
	background:#e4e6eb;
	color: $theme1;
}

.form-control::placeholder,
input::placeholder {
	color:$theme1;
	opacity: 0.5;
}

.form-control::-ms-input-placeholder,
input::-ms-input-placeholder { 
	color:$theme1;
	opacity: 0.5;
}

.form-control::-ms-input-placeholder,
input::-ms-input-placeholder {
	color:$theme1;
	opacity: 0.5;
}

a {
	@extend %transition;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

video{
	&::-webkit-media-controls,
	&::-webkit-media-controls-overlay-play-button {
		display:none !important;
	}
}

.container{
	padding-right: 20px;
	padding-left: 20px;
	max-width: 1358px;
	&.container-sm{
		max-width: 1192px;
	}
	@media only screen and (min-width: $md) {
		padding-right: 40px;
		padding-left: 40px;
	}
}


.btn{
	font-size: 14px;
	padding: 12px 16px;
	@extend %transition;
	@extend %font3;
	text-transform:uppercase;
	border-radius:0px;
	line-height:1.2;
	border:1px solid $theme2;
	letter-spacing: 0.7px;
	@media only screen and (min-width: $md) {
		min-width: 149px;
	}
	&.btn-primary{
		color: #fff;
		background: $theme2;
		position:relative;
		border-color: $theme2;
		&:hover,
		&:focus{
			color:#fff;
			background-color:$theme1;
			border-color: #fff;
		}
	}
	&.btn-secondary{
		color: #fff;
		background: rgba(26,44,86,0.6);
		position:relative;
		border-color: $theme2;
		&:hover,
		&:focus{
			color:#ffff;
			background-color:$theme1;
		}
	}

	&.btn-tertiary{
		border: 1px solid #fff;
		color: #ffff;
		background: transparent;
		&:hover,
		&:focus{
			color:$theme1;
			background-color:#fff;
			border-color:#fff;
		}
	}


	&.btn-solid{
		border: 1px solid $theme2;
		color: #fff;
		background: $theme2;
		&:hover,
		&:focus{
			color:$theme2;
			background-color: transparent;
			border-color:$theme2;
		}
	}
}


b, strong{
	@extend %font3;
}

/* Header
========================================= */
#header{
	position: sticky;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 99;
	padding: 15px 0;
	@extend %transition;
	background:#fff;
	.desktop-menu{
		display: none;
		@media only screen and (min-width: $md) {
			display: flex;
			align-items: center;
			.link{
				margin-left: 60px;
			}
		}
		ul{
			list-style:none;
			margin:0;
			padding:0;
			display:flex;
			li{
				margin-left:25px;
				@media only screen and (min-width: $hd) {
					margin-left:30px;
				}
				a{
					line-height:1;
					color:$theme1;
					@extend %font1;
					font-size:16px;
					&:hover{
						text-decoration:none;
						color:$theme2;
					}
				}
			}
		}
	}
	.container{
		display:flex;
		justify-content:space-between;
		align-items:center;
	}

	.toggle{
		a{
			img, svg{
				width:34px;
				path{
					stroke:$theme1;
				}
				@media only screen and (min-width: $md) {
					width:46px;
				}

			}
		}
	}
	.logo {
		position:relative;
		display:block;
		.over{
			position:absolute;
		    right: 16%;
		    top: -16%;
		    width: 65%;
		}
		svg, img{
			max-width: 100px;
			@extend %transition;
			width:100%;
			@media only screen and (min-width: $md) {
				max-width:126px;
			}
		}
	}
}

@media only screen and (min-width: $md) {
	#header{
		padding: 15px 0;
	}
	
}

.main-menu{
	position:fixed;
	right:-555px;
	top:0;
	width:80%;
	height:100%;
	z-index:1000;
	overflow-y:scroll;
	@extend %transition2;
	max-width:555px;
	background:$theme1;
	color:#fff;
	&.active{
		right: 0;
	}
	.main-wrapper{
		width:100%;
		position:relative;
		height:100%;
	}
	.link{
		margin-top: 40px;
	}
	.close{
		padding:25px;
		position:absolute;
		top:0;
		right:0;
		opacity:1;
		svg line{
			stroke:#fff;
		}
		@media only screen and (min-width: $md) {
			padding: 50px;
		}
	}
	.wrap{
		width:100%;
		overflow-y:scroll;
		position:relative;
		padding: 80px 30px 30px;
		@media only screen and (min-width: $md) {
			padding:80px 60px 60px;
		}
	}
	ul{
		list-style:none;
		margin:0;
		padding:0;
		li{
			position:relative;
			margin-bottom:-6px;
			a{
				font-size:26px;
				line-height:1;
				color:#fff;
				@extend %font3;
				padding:15px 0;
				display:inline-block;
				padding-left:32px;
				position:relative;
				&:before{
					width:16px;
					height:100%;
					background:#366462;
					position:absolute;
					left:0;
					top:0;
					content:'';
					clip-path: polygon(0 9%, 59% 0, 58% 91%, 0% 100%);
					@extend %transition;
				}
				@media only screen and (min-width: $md) {
					font-size:35px;
				}
				&:hover{
					color:#fff;
					text-decoration:none;
					&:before{
						background:$theme2;
					}
				}
			}
			&.current-menu-item{
				a{
					color:#fff;
					text-decoration:none;
					&:before{
						background:$theme2;
					}
				}
			}
		}
	}
}


.anchor {
	display: block;
	position: relative;
	top: -84px;
	visibility: hidden;
}

@media only screen and (min-width: $md) {
	.anchor {
		top: -98px;
	}
}

.hero-home{
	position: relative;
	overflow: hidden;
	background: #000;
	display:flex;
	align-items:center;
	justify-content:center;
	padding: 120px 0;
	color:#fff;
	@media only screen and (min-width: $md) {
		padding: 100px 0;
		min-height:calc(100vh - 98px);
		&.sm{
			min-height:550px;
		}
	}
	.link{
		margin-top:40px;
		display: flex;
		@media only screen and (min-width: $md) {
			margin-top:60px;
		}
		a{
			margin-right: 18px;
			@media only screen and (min-width: $md) {
				min-width: 150px;
			}
			&:last-child{
				margin-right: 0;
			}
		}
	}
	.bg{
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		.caption{
			@include caption();
			z-index: 1;
		}
		img, video{
			width:100%;
			height:100%;
			object-fit:cover;
			opacity:0.5;
		}
		&.bottom{
			img, video{
				object-position: bottom;
			}
		}
	}
	.container{
		position: relative;
		z-index:2;
		h1{
			text-transform: uppercase;
			font-size: 16px;
			letter-spacing: 1px;
			margin-bottom: 20px;
		}
		h2{
			font-size:36px;
			line-height:1.1;
			@media only screen and (min-width: $md) {
				font-size:58px;
				max-width: 480px;
			}
		}
	}
}


.image-full{
	position: relative;
	.caption{
		@include caption();
	}
	img{
		width:100%;
	}
}

.textlink{
	margin-top: 20px;
	a{
		text-transform: uppercase;
		@extend %font3;
		color: $theme1;
		font-size: 14px;
		display: inline-block;
		padding-right: 16px;
		position: relative;
		&:before{
			width: 8px;
			height: 13px;
			content: '';
			position: absolute;
			right: 0;
			top:50%;
			margin-top:-6px;
			background: url(../images/arrowright.svg) center no-repeat;
			background-size: contain;
			@extend %transition;
		}
		&:hover{
			text-decoration: none;
			&:before{
				right: -5px;
			}
		}
	}
}

.hero-project{
	position: relative;
	overflow: hidden;
	background: #000;
	display:flex;
	align-items:center;
	justify-content:center;
	padding: 120px 0;
	color:#fff;
	@media only screen and (min-width: $md) {
		padding: 100px 0;
		min-height:calc(100vh - 98px);
	}
	.bg{
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		.caption{
			@include caption();
			z-index: 1;
		}
		img, video{
			width:100%;
			height:100%;
			object-fit:cover;
			opacity:0.5;
		}
		&.bottom{
			img, video{
				object-position: bottom;
			}
		}
	}
	.container{
		position: relative;
		z-index:2;
		h1{
			@include heading1();
			@extend %font3;
			margin-bottom:10px;
			@media only screen and (min-width: $md) {
				margin-bottom:10px;
				font-size: 43px;
			}
		}
		.content{
			p{
				font-size:22px;
				@extend %font1;
				@media only screen and (min-width: $md) {
					font-size:28px;
				}
				&.cat{
					span{
						@extend %font3;
						letter-spacing: 0.7px;
						text-transform:uppercase;
						padding:10px;
						background:$theme2;
						font-size:12px;
						@media only screen and (min-width: $md) {
							font-size:14px;
						}
					}
				}
			}
		}
	}
}

.project-slider{
	background:$theme1;
	.slider{
		position: relative;
		font-size:0;
		background: #000;
		.image{
			margin-bottom:0;
			display:block;
			height:320px;
			position: relative;
			.caption{
				@include caption();
				z-index: 2;
			}
			img, video{
				width: 100%;
				height: 100%;
				object-fit:cover;
				object-position: bottom;
			}
			@media only screen and (min-width: $md) {
				height:calc(100vh - 98px);
				video {
	                position: absolute;
	                top: 50%;
	                left: 50%;
	                transform: translate(-50%, -50%);
	                
	                min-width: 100%;
	                min-height: 100%;
	                width: auto;
	                height: auto;
	                
	                object-fit: cover; 
	                display: block;
	            }
			}

            
		}
	}
	.slick-slide{
		height: auto;
		&:focus{
			outline: 0;
		}
	}
	.slick-arrow {
		background: none;
		border: 0;
		position: absolute;
		z-index: 1;
		width: 14px;
		height: 28px;
		text-indent: -9999px;
		background: url(../images/arrow-right.svg) center no-repeat;
		background-size: contain;
		outline: 0!important;
		-webkit-transition: all .3s ease;
		transition: all .3s ease;
		top:50%;
		margin-top: -14px;
		&:hover{
			cursor: pointer;
		}
	}
	.slick-prev {
		transform:scaleX(-1);
		left: 10px;
		@media only screen and (min-width: $md) {
			left: 20px;
		}
	}
	.slick-next {
		right: 10px;
		@media only screen and (min-width: $md) {
			right: 20px;
		}
	}
}

.section{
	padding: 50px 0;
	@media only screen and (min-width: $md) {
		padding: 90px 0;
	}

	&.main-padding{
		padding-top:120px;
		@media only screen and (min-width: $md) {
			padding-top:175px;
		}
	}


	&.section-home1{
		h2{
			@include heading1();
		}
		.heading{
			padding-left: 38px;
			margin-bottom: 30px;
			position:relative;
			padding-top:5px;
			padding-bottom:5px;
			h2{
				margin-bottom:0;
				@extend %transition3;
				transform:translateY(-50px);
				opacity:0;
				b, strong{
					color:$theme2;
				}
			}
			&.active{
				&:before{
					height:100%;
				}
				h2{
					opacity:1;
					transform:translateY(0px);
				}
			}
			&:before{
				width:20px;
				height:0%;
				background:$theme2;
				position:absolute;
				left:0;
				top:0;
				content:'';
				clip-path: polygon(0 10%, 58% 0, 58% 90%, 0% 100%);
				@extend %transition3;
				@media only screen and (min-width: $md) {
					width:35px;
					clip-path: polygon(0 10%, 58% 0, 58% 90%, 0% 100%);
				}
			}
			@media only screen and (min-width: $md) {
				margin-bottom: 40px;
				padding-left: 58px;
			}
		}

		.feature{
			margin-top:40px;
			@media only screen and (min-width: $md) {
				margin-top:0;
				max-width: 375px;
			}
			ul{
				list-style:none;
				margin:0;
				padding:0;
				li{
					background:$theme2;
					color:#fff;
					margin-bottom:18px;
					font-size:14px;
					@extend %font3;
					padding:15px 20px;
					border-radius: 10px;
					text-transform: uppercase;
					display: flex;
					align-items: center;
					line-height: 1.3;
					a{
						color: #fff;
						display: block;
						text-decoration: none;
					}
					&:last-child{
						margin-bottom:0;
					}
				}
			}
		}

		.block{
			.text{
				font-size: 18px;
				margin-left: 38px;
				@media only screen and (min-width: $md) {
					max-width: 572px;
					margin-left: 58px;
				}
			}
			@media only screen and (min-width: $md) {
				display:flex;
				justify-content:space-between;
				.column{
					width:56%;
					&:last-child{
						width:40%;
						align-self: flex-end;
					}
				}
			}
		}
	}

	&.section-home2{
		background: $theme1;
		color: #fff;
		position: relative;
		&.light{
			background: #fff;
			color: $theme1;
			.note{
				color: $theme1;
			}
		}
		.note{
			@include caption();
		}
		h2{
			@include heading1();
		}
		.heading{
			padding-left: 38px;
			margin-bottom: 40px;
			position:relative;
			padding-top:5px;
			padding-bottom:5px;
			h2{
				margin-bottom:0;
				@extend %transition3;
				transform:translateY(-50px);
				opacity:0;
				b, strong{
					color:$theme2;
				}
			}
			&.active{
				&:before{
					height:100%;
				}
				h2{
					opacity:1;
					transform:translateY(0px);
				}
			}
			&:before{
				width:20px;
				height:0%;
				background:$theme2;
				position:absolute;
				left:0;
				top:0;
				content:'';
				clip-path: polygon(0 10%, 58% 0, 58% 90%, 0% 100%);
				@extend %transition3;
				@media only screen and (min-width: $md) {
					width:35px;
					clip-path: polygon(0 10%, 58% 0, 58% 90%, 0% 100%);
				}
			}
			@media only screen and (min-width: $md) {
				margin-bottom: 80px;
				padding-left: 58px;
				max-width: 530px;
			}
		}
		.block{
			margin-bottom: -30px;
			h3{
				@include heading2();
				&.alt{
					@extend %font1;
				}
			}
			.column{
				margin-bottom: 30px;
				display: flex;

				.icon{
					width:40px;
					height:40px;
					@media only screen and (min-width: $md) {
						width:60px;
						height:60px;
					}
					img{
						width:100%;
						height:100%;
						object-fit: contain;

					}
				}
				.text{
					width: calc(100% - 40px);
					padding-left: 20px;
					@media only screen and (min-width: $md) {
						width: calc(100% - 60px);
					}
				}
			}
		}
		@media only screen and (min-width: $sm) {
			.block{
				display:flex;
				flex-wrap:wrap;
				margin:0 -20px;
				margin-bottom: -70px;
				.column{
					width: 50%;
					padding: 0 20px;
					margin-bottom: 70px;
					@media only screen and (min-width: $md) {
						width: 33.33%;
					}
					p{
						max-width: 270px;
					}
					.alt{
						p{
							max-width: 305px;
						}
					}
				}
			}
		}
	}

	&.section-projectinfo{
		color:#fff;
		background:$theme1;
		h2{
			@include heading1();
		}
		.heading{
			padding-left: 38px;
			margin-bottom: 30px;
			position:relative;
			padding-top:8px;
			padding-bottom:8px;

			&:before{
				width:20px;
				height:0%;
				background:$theme2;
				position:absolute;
				left:0;
				top:0;
				content:'';
				clip-path: polygon(0 5%, 59% 0, 58% 95%, 0% 100%);
				@extend %transition3;
				@media only screen and (min-width: $md) {
					width:35px;
					clip-path: polygon(0 7%, 59% 0, 58% 93%, 0% 100%);
				}
			}
			h2{
				margin-bottom:0;
				@extend %transition3;
				transform:translateY(-50px);
				opacity:0;
				b, strong{
					color:$theme2;
				}
			}
			&.active{
				&:before{
					height:100%;
				}
				h2{
					opacity:1;
					transform:translateY(0px);
				}
			}
			@media only screen and (min-width: $md) {
				margin-bottom: 60px;
				max-width:700px;
				padding-left: 58px;
			}
		}
		.loc{
			color:$theme2;
			@extend %font2;
			text-transform:uppercase;
		}
		.text{
			font-size: 18px;
			@media only screen and (min-width: $md) {
				max-width: 473px;
			}
		}

		.size{
			width:100%;
			max-width:360px;
			margin-top:40px;
			.small{
				margin-top:40px;
			}
			&.active{
				ul li:before{
					width:100%;
				}
			}
			@media only screen and (min-width: $md) {
				margin-top:80px;
				max-width:560px;
			}
			ul{
				list-style:none;
				margin:0;
				padding:0;
				display:flex;
				justify-content:space-between;
				li{
					position:relative;
					padding-bottom:10px;
					&:before{
						width:0;
						height:5px;
						background:$theme2;
						position:absolute;
						left:0;
						bottom:0;
						content:'';
						@extend %transition3;
					}
					span{
						font-size:28px;
						display:block;
						@extend %font3;
						line-height:1;
						margin-bottom:5px;
						@media only screen and (min-width: $md) {
							font-size:43px;
						}
					}
				}
			}
		}

		.feature{
			margin-top:40px;
			@media only screen and (min-width: $md) {
				margin-top:0;
				max-width: 375px;
			}
			ul{
				list-style:none;
				margin:0;
				padding:0;
				li{
					background:$theme2;
					color:#fff;
					margin-bottom:18px;
					font-size:14px;
					@extend %font3;
					padding:15px 20px;
					border-radius: 10px;
					text-transform: uppercase;
					display: flex;
					align-items: center;
					line-height: 1.3;
					a{
						color: #fff;
						display: block;
						text-decoration: none;
					}
					&:last-child{
						margin-bottom:0;
					}
				}
			}
		}

		.block{
			@media only screen and (min-width: $md) {
				display:flex;
				justify-content:space-between;
				padding-left:58px;
				.column{
					width:56%;
					&:last-child{
						width:40%;
						align-self: flex-end;
					}
				}
			}
		}
	}

	&.section-program{
		border-top: 1px solid $theme1;
		border-bottom: 1px solid $theme1;
		h2{
			@include heading1();
		}
		.heading{
			padding-left: 38px;
			margin-bottom: 30px;
			position:relative;
			padding-top:8px;
			padding-bottom:8px;

			&:before{
				width:20px;
				height:0%;
				background:$theme2;
				position:absolute;
				left:0;
				top:0;
				content:'';
				clip-path: polygon(0 5%, 59% 0, 58% 95%, 0% 100%);
				@extend %transition3;
				@media only screen and (min-width: $md) {
					width:35px;
					clip-path: polygon(0 7%, 59% 0, 58% 93%, 0% 100%);
				}
			}
			h2{
				margin-bottom:0;
				@extend %transition3;
				transform:translateY(-50px);
				opacity:0;
				b, strong{
					color:$theme2;
				}
			}
			&.active{
				&:before{
					height:100%;
				}
				h2{
					opacity:1;
					transform:translateY(0px);
				}
			}
			@media only screen and (min-width: $md) {
				max-width:700px;
				padding-left: 58px;
			}
		}

		.text{
			font-size: 18px;
			margin-left: 38px;
			@media only screen and (min-width: $md) {
				p{
					max-width: 572px;
				}
				margin-left: 58px;
			}
		}

		.image{
			width: 100%;
			margin-top: 40px;
			@media only screen and (min-width: $md) {
				margin-top: 70px;
			}
			img{
				width: 100%;
			}
		}

		.timeline-slider{
			margin-top: 40px;
			position: relative;
			@media only screen and (min-width: $md) {
				margin-top: 70px;
			}
			.wrap{
				@media only screen and (min-width: $md) {
					display: flex;
					justify-content: space-between;
					position: relative;
				}
				&:before{
					width: 3px;
					height: 84%;
					content: '';
					position: absolute;
					top:10px;
					background: #ddd;
					border-radius: 3px;
					@media only screen and (min-width: $md) {
						width: 100%;
						height: 6px;
						bottom:17px;
						top: auto;
					}
				}
				div{
					@extend %font3;
					display: block;
					padding-left: 30px;
					position: relative;
					&:before{
						width: 13px;
						height: 13px;
						background: $theme2;
						border-radius: 50%;
						display: inline-block;
						@extend %transition;
						content: '';
						left: -5px;
						top: 10px;
						position: absolute;
						@media only screen and (min-width: $md) {
							display: none;
						}
					}
					@media only screen and (min-width: $md) {
						padding-left: 0;
						padding-bottom: 42px;
					}
					&:hover{
						cursor: pointer;
					}
					p{
						@media only screen and (min-width: $md) {
							opacity: 0.44;
						}
					}
					&.active{
						&:before{
							background: $theme2;
						}
						p{
							opacity: 1;
						}
					}
					.cat{
						display: inline-block;
						background: $theme2;
						color: #fff;
						padding: 3px 10px;
						margin-bottom: 5px;
					}
					@media only screen and (min-width: $md) {
						font-size: 18px;
					}
				}
			}
			.timeline-slider-nav{
				width: 100%;
				position: absolute;
				bottom:0;
				display: none;
				@media only screen and (min-width: $md) {
					display: block;
				}
				.line{
					width: 0%;
					height: 6px;
					position: absolute;
					bottom:17px;
					background: $theme2;
					border-radius: 3px;
					@extend %transition2;
				}
				ul{
					list-style: none;
					margin:0;
					padding: 0;
					@media only screen and (min-width: $md) {
						display: flex;
						justify-content: space-between;
						width: 100%;
					}
					li{
						.circle{
							width: 26px;
							height: 26px;
							background: #ddd;
							border-radius: 50%;
							display: inline-block;
							@extend %transition;
						}
						&.active{
							.circle{
								background: $theme2;
							}
							
						}
					}
				}
			}

			.timeline-slider-nav-mobile{
				height: 100%;
				position: absolute;
				top:0;
				@media only screen and (min-width: $md) {
					display: none;
				}
				.line{
					width: 3px;
					height: 0%;
					position: absolute;
					top:10px;
					background: $theme2;
					border-radius: 3px;
					@extend %transition2;
				}
				ul{
					list-style: none;
					margin:0;
					padding: 0;
					margin-left: -7px;
					@media only screen and (min-width: $md) {
						display: flex;
						justify-content: space-between;
						width: 100%;
					}
					li{
						height: 103px;
						.circle{
							width: 16px;
							height: 16px;
							background: #ddd;
							border-radius: 50%;
							display: inline-block;
							@extend %transition;
						}
						&.active{
							.circle{
								background: $theme2;
							}
							
						}
					}
				}
			}
		}
	}

	&.section-contact{
		h2{
			@include heading1();
		}
		.text{
			font-size: 18px;
			margin-left: 38px;
			@media only screen and (min-width: $md) {
				max-width: 572px;
				margin-left: 58px;
			}
		}
		.link{
			margin-top: 20px;
			display: flex;
			align-items: center;
			@media only screen and (min-width: $md) {
				margin-top: 40px;
			}
			.textlink{
				margin-top: 0;
				margin-left: 30px;
			}
		}
		.heading{
			padding-left: 38px;
			margin-bottom: 30px;
			position:relative;
			padding-top:8px;
			padding-bottom:8px;

			&:before{
				width:20px;
				height:0%;
				background:$theme2;
				position:absolute;
				left:0;
				top:0;
				content:'';
				clip-path: polygon(0 5%, 59% 0, 58% 95%, 0% 100%);
				@extend %transition3;
				@media only screen and (min-width: $md) {
					width:35px;
					clip-path: polygon(0 7%, 59% 0, 58% 93%, 0% 100%);
				}
			}
			h2{
				margin-bottom:0;
				@extend %transition3;
				transform:translateY(-50px);
				opacity:0;
				b, strong{
					color:$theme2;
				}
			}
			&.active{
				&:before{
					height:100%;
				}
				h2{
					opacity:1;
					transform:translateY(0px);
				}
			}
			@media only screen and (min-width: $md) {
				margin-bottom: 60px;
				max-width:700px;
				padding-left: 58px;
			}
		}
		.text{
			font-size: 18px;
			@media only screen and (min-width: $md) {
				max-width: 473px;
			}
		}

		.block{
			.column:first-child{
				margin-bottom: 40px;
			}
			@media only screen and (min-width: $md) {
				display:flex;
				justify-content:space-between;
				.column{
					width:36%;
					&:first-child{
						margin-bottom: 0;
					}
					&:last-child{
						width:59.5%;
						align-self: flex-end;
					}
				}
			}
		}
	}

	&.section-agents{
		background:$theme1;
		color:#fff;
		text-align: center;
		h3{
			text-transform: uppercase;
			font-size: 16px;
			text-transform: uppercase;
			letter-spacing: 0.7px;
		}
		h2{
			@include heading1();
			@media only screen and (min-width: $md) {
				font-size: 58px;
			}
		}
		font-size: 18px;
		.block{
			margin-top: 50px;
			font-size: 14px;
			@media only screen and (min-width: $sm) {
				margin-top: 100px;
				display: flex;
				flex-wrap: wrap;
				text-align: center;
				justify-content: center;
				font-size: 16px;
			}
			.column{
				
				margin-bottom: 30px;
				.image{
					margin-bottom: 15px;
					img{
						max-width: 107px;
						width: 100%;
					}
				}
				h4{
					@extend %font2;
					font-size: 20px;
					margin-bottom: 10px;
				}
				@media only screen and (min-width: $sm) {
					width: 50%;
					@media only screen and (min-width: $md) {
						width: 33.33%;
					}
				}
			}
		}
	}

	&.section-portal{
		.text{
			padding-left: 38px;
			margin-bottom: 40px;
			position:relative;
			padding-top:5px;
			padding-bottom:5px;
			
			&.active{
				&:before{
					height:100%;
				}
			}
			&:before{
				width:20px;
				height:0%;
				background:$theme2;
				position:absolute;
				left:0;
				top:0;
				content:'';
				clip-path: polygon(0 6%, 58% 0, 58% 94%, 0% 100%);
				@extend %transition3;
				@media only screen and (min-width: $md) {
					width:35px;
					clip-path: polygon(0 6%, 58% 0, 58% 94%, 0% 100%)
				}
			}
			@media only screen and (min-width: $md) {
				margin-bottom: 80px;
				padding-left: 58px;
				font-size: 18px;
				max-width: 580px;
			}
		}

		.box{
			.item{
				margin-top: 40px;
				border-top: 1px solid $theme2;
				padding-top: 40px;
				margin-left: 38px;
				&:last-child{
					border-bottom: 1px solid $theme2;
					margin-bottom: 40px;
					padding-bottom: 60px;
				}
				h3{
					@extend %font2;
					font-size: 18px;
					margin-bottom: 10px;
					@media only screen and (min-width: $md) {
						font-size: 20px;
					}
				}
				.link{
					margin-top: 30px;
				}
				@media only screen and (min-width: $md) {
					font-size: 18px;
					margin-left: 58px;
					p{
						max-width: 564px;
					}
				}
			}
		}

		h2{
			@include heading1();
		}
		.heading{
			padding-left: 38px;
			margin-bottom: 30px;
			position:relative;
			padding-top:8px;
			padding-bottom:8px;

			&:before{
				width:20px;
				height:0%;
				background:$theme2;
				position:absolute;
				left:0;
				top:0;
				content:'';
				clip-path: polygon(0 5%, 59% 0, 58% 95%, 0% 100%);
				@extend %transition3;
				@media only screen and (min-width: $md) {
					width:35px;
					clip-path: polygon(0 7%, 59% 0, 58% 93%, 0% 100%);
				}
			}
			h2{
				margin-bottom:0;
				@extend %transition3;
				transform:translateY(-50px);
				opacity:0;
				b, strong{
					color:$theme2;
				}
			}
			&.active{
				&:before{
					height:100%;
				}
				h2{
					opacity:1;
					transform:translateY(0px);
				}
			}
			@media only screen and (min-width: $md) {
				max-width:700px;
				padding-left: 58px;
			}
		}

		.info{
			margin-left: 38px;
			margin-bottom: 30px;
			@media only screen and (min-width: $md) {
				font-size: 18px;
				margin-left: 58px;
				margin-bottom: 60px;
				p{
					max-width: 820px;
				}
			}
		}

		.agents{
			margin-bottom: 30px;
			margin-left: 38px;
			@media only screen and (min-width: $md) {
				margin-left: 58px;
			}
			.image{
				margin-bottom: 15px;
				img{
					max-width: 107px;
					width: 100%;
				}
			}
			h4{
				@extend %font2;
				font-size: 20px;
				margin-bottom: 10px;
			}
		}
	}

	&.section-location{
		background: $theme1;
		color: #fff;
		h2{
			@include heading1();
		}
		.heading{
			padding-left: 38px;
			margin-bottom: 30px;
			position:relative;
			padding-top:5px;
			padding-bottom:5px;
			h2{
				margin-bottom:0;
				@extend %transition3;
				transform:translateY(-50px);
				opacity:0;
				b, strong{
					color:$theme2;
				}
			}
			&.active{
				&:before{
					height:100%;
				}
				h2{
					opacity:1;
					transform:translateY(0px);
				}
			}
			&:before{
				width:20px;
				height:0%;
				background:$theme2;
				position:absolute;
				left:0;
				top:0;
				content:'';
				clip-path: polygon(0 10%, 58% 0, 58% 90%, 0% 100%);
				@extend %transition3;
				@media only screen and (min-width: $md) {
					width:35px;
					clip-path: polygon(0 10%, 58% 0, 58% 90%, 0% 100%);
				}
			}
			@media only screen and (min-width: $md) {
				margin-bottom: 40px;
				padding-left: 58px;
			}
		}

		.note{
			font-size: 12px;
		}
		.text{
			margin-left: 38px;
			@media only screen and (min-width: $md) {
				font-size: 18px;
				margin-left: 58px;
				p{
					max-width: 600px;
				}
			}
		}
		.link{
			margin-bottom: 20px;
			margin-top: 20px;
		}


		.acf-map{
			height:300px;
			overflow:hidden;
			@media only screen and (min-width: $md) {
				height:600px;
			}
		}

		.imageset{
			position: relative;
			.image{
				position: absolute;
				z-index: 2;
				opacity: 0;
				left: 0;
				right: 0;
				top:0;
				margin-top: 0;
				&.active{
					opacity: 1;
				}
			}
			img{
				width: 100%;
			}
		}

		.block{
			border-bottom: 1px solid $theme2;
			margin-bottom: 50px;
			padding-bottom: 60px;
			margin-top: 50px;
			@media only screen and (min-width: $md) {
				display:flex;
				flex-wrap:wrap;
				justify-content:space-between;
				flex-direction: row-reverse;
				margin-top: 100px;
				.column{
					width: 65.8%;
					&:last-child{
						width: 30%;
					}
					&:first-child{
						align-self: center;
					}
				}
			}

			.slider-for{
				display: none;
			}
			.pathslider{
				position: relative;
				&:before{
					content: '';
					width: 3px;
					height: 100%;
					content: '';
					position: absolute;
					left: 0;
					top:0;
					background: $theme2;
					opacity: 0.3;
				}
				ul{
					list-style: none;
					margin:0;
					padding:0;
					li{
						padding: 10px 0 10px 38px;
						position: relative;
						@extend %transition;
						opacity: 0.5;
						.line{
							width: 3px;
							height: 0%;
							content: '';
							position: absolute;
							left: -1px;
							top:0;
							background: $theme2;
							z-index: 2;
						}
						span{
							display: block;
							font-size: 20px;
							@extend %font3;
							@media only screen and (min-width: $md) {
								font-size: 28px;
							}
						}
						@media only screen and (min-width: $md) {
							padding: 15px 0 15px 58px;
							max-width: 320px;
							&:last-child{

								min-height: 100px;
							}
						}
					}
					.slick-current{
						li{
							opacity: 1;
							.line{
								animation: animateThis 5s ease-in forwards;
							}
						}
					}
				}
			}


			//orig
			.path{
				position: relative;
				&:before{
					content: '';
					width: 3px;
					height: 100%;
					content: '';
					position: absolute;
					left: 0;
					top:0;
					background: $theme2;
					opacity: 0.3;
				}
				.line{
					width: 3px;
					height: 20%;
					content: '';
					position: absolute;
					left: 0;
					top:0;
					background: $theme2;
					transition: all 0.5s ease;
					z-index: 2;
				}
				ul{
					list-style: none;
					margin:0;
					padding:0;
					li{
						padding: 10px 0 10px 38px;
						position: relative;
						@extend %transition;
						opacity: 0.5;
						&.active,
						&:hover{
							cursor: pointer;
							opacity: 1;
						}
						span{
							display: block;
							font-size: 20px;
							@extend %font3;
							@media only screen and (min-width: $md) {
								font-size: 28px;
							}
						}
						@media only screen and (min-width: $md) {
							padding: 15px 0 15px 58px;
							max-width: 320px;
						}
					}
				}

			}
		}
		hr{
			margin:0;
			padding:0;
		}
	}

	&.section-location-sc{
		h2{
			@include heading1();
		}
		.heading{
			padding-left: 38px;
			margin-bottom: 30px;
			position:relative;
			padding-top:5px;
			padding-bottom:5px;
			h2{
				margin-bottom:0;
				@extend %transition3;
				transform:translateY(-50px);
				opacity:0;
				b, strong{
					color:$theme2;
				}
			}
			&.active{
				&:before{
					height:100%;
				}
				h2{
					opacity:1;
					transform:translateY(0px);
				}
			}
			&:before{
				width:20px;
				height:0%;
				background:$theme2;
				position:absolute;
				left:0;
				top:0;
				content:'';
				clip-path: polygon(0 10%, 58% 0, 58% 90%, 0% 100%);
				@extend %transition3;
				@media only screen and (min-width: $md) {
					width:35px;
					clip-path: polygon(0 10%, 58% 0, 58% 90%, 0% 100%);
				}
			}
			@media only screen and (min-width: $md) {
				margin-bottom: 40px;
				padding-left: 58px;
			}
		}

		.block{
			@media only screen and (min-width: $sm) {
				display:flex;
				flex-wrap:wrap;
				justify-content:space-between;
				.column{
					width: 48%;
					&:last-child{
						align-self: flex-end;
					}
				}
			}
			.image{
				margin-top: 60px;
				text-align: center;
				@media only screen and (min-width: $md) {
					margin-top: 0px;
				}
				img{
					width: 100%;
					max-width: 379px;
				}
			}
		}
		.text{
			margin-left: 38px;
			@media only screen and (min-width: $md) {
				margin-left: 58px;
				font-size: 18px;
				p{
					max-width: 320px;
				}
			}
		}

		.stat{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			max-width: 468px;
			margin-top: 60px;
			margin-left: 38px;
			margin-bottom: -30px;
			.coln{
				position: relative;
				padding-top: 20px;
				margin-bottom: 30px;
				h3{
					@extend %font3;
					font-size: 28px;
				}
				&:before{
					width: 0%;
					height: 2px;
					background: $theme2;
					content: '';
					left: 0;
					top:0;
					position: absolute;
					@extend %transition3;
				}
				width: calc(50% - 20px);
			}
			&.active{
				.coln:before{
					width: 100%;
				}
			}
			@media only screen and (min-width: $md) {
				margin-left: 58px;
			}
		}

	}

	&.section-cta{
		background: $theme1;
		color: #fff;
		text-align: center;
		@media only screen and (min-width: $md) {
			font-size: 18px;
		}
		h2{
			@include heading1();
		}
		.link{
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 30px;
			a{
				margin:0 5px
			}
		}
	}

	&.section-warehouse{
		h2{
			@include heading1();
			span{
				display: none;
				&.active{
					display: block;
				}
			}
		}
		.heading{
			padding-left: 38px;
			margin-bottom: 30px;
			position:relative;
			padding-top:5px;
			padding-bottom:5px;
			h2{
				margin-bottom:10px;
				@extend %transition3;
				transform:translateY(-50px);
				opacity:0;
				b, strong{
					color:$theme2;
				}
			}
			&.active{
				&:before{
					height:100%;
				}
				h2{
					opacity:1;
					transform:translateY(0px);
				}
			}
			&:before{
				width:20px;
				height:0%;
				background:$theme2;
				position:absolute;
				left:0;
				top:0;
				content:'';
				clip-path: polygon(0 10%, 58% 0, 58% 90%, 0% 100%);
				@extend %transition3;
				@media only screen and (min-width: $md) {
					width:35px;
					clip-path: polygon(0 10%, 58% 0, 58% 90%, 0% 100%);
				}
			}
			@media only screen and (min-width: $md) {
				margin-bottom: 40px;
				padding-left: 58px;
				font-size: 18px;
			}
		}

		.warehouse{
			position: relative;
			.base{
				position: absolute;
				width: 100%;
				left: 0;
				top:0;
			}
			.image{
				position: absolute;
				width: 100%;
				left: 0;
				top:0;
				z-index: 1;
				mix-blend-mode: multiply;
				opacity: 0;
				@extend %transition;
				&.active{
					opacity: 1;
				}
			}
			#warehouse{
				position: relative;
				z-index: 2;
				opacity: 0;
			}
		}

		.link{
			margin-top: 30px;
		}
	}

	&.section-floorplan{
		h2{
			@include heading1();
		}
		.heading{
			padding-left: 38px;
			margin-bottom: 30px;
			position:relative;
			padding-top:5px;
			padding-bottom:5px;
			h2{
				margin-bottom:10px;
				@extend %transition3;
				transform:translateY(-50px);
				opacity:0;
				b, strong{
					color:$theme2;
				}
			}
			&.active{
				&:before{
					height:100%;
				}
				h2{
					opacity:1;
					transform:translateY(0px);
				}
			}
			.content{
				display: none;
				&.active{
					display: block;
				}
			}
			&:before{
				width:20px;
				height:0%;
				background:$theme2;
				position:absolute;
				left:0;
				top:0;
				content:'';
				clip-path: polygon(0 6%, 58% 0, 58% 94%, 0% 100%);
				@extend %transition3;
				@media only screen and (min-width: $md) {
					width:35px;
				}
			}
			@media only screen and (min-width: $md) {
				margin-bottom: 40px;
				padding-left: 58px;
				font-size: 18px;
			}
		}

		.floorplan{
			position: relative;
			max-width: 910px;
			margin:0 auto;
			@media only screen and (min-width: $md) {
				margin-top: -50px;
			}
			.base{
				position: absolute;
				width: 100%;
				left: 0;
				top:0;
			}
			.image{
				position: absolute;
				width: 100%;
				left: 0;
				top:0;
				z-index: 1;
				mix-blend-mode: multiply;
				opacity: 0;
				@extend %transition;
				&.active{
					opacity: 1;
				}
			}
			#floorplan{
				position: relative;
				z-index: 2;
				opacity: 0;
			}
		}

		.link{
			margin-top: 30px;
		}
	}

	&.section-default{
		background:$theme1;
		color:#fff;
		h1{
			@include heading1();
		}

		h2{
			@include heading2();
			margin-top: 40px;
			margin-bottom: 20px;
			@media only screen and (min-width: $md) {
				margin-bottom: 20px;
			}
		}

		ul, ol{
			margin-bottom: 10px;
			li{
				margin-bottom: 5px;
			}
		}

		.link{
			margin-top:30px;
		}
	}

}


.imageset{
	.image{
		margin-top:6px;
		@include image();
	}
	@media only screen and (min-width: $sm) {
		display:flex;
		flex-wrap:wrap;
		justify-content:space-between;
		.image{
			width:100%;
			&.sm{
				width: calc(35% - 3px);
				img{
					height:100%;
					object-fit:cover;
				}
				.icon{
					max-width: 193px;
				}
			}
			&.md{
				width: calc(65% - 3px);
				img{
					height:100%;
					object-fit:cover;
				}
				.icon{
					max-width: 193px;
				}

			}
		}
	}
}

.location-map{
	background:#000;
	margin-top:30px;
	font-size:14px;
	margin-bottom:30px;
	@media only screen and (min-width: $md) {
		margin-top:50px;
		margin-bottom:60px;
		display:flex;
		align-items:center;
		.column{
			width: 30%;
			&:last-child{
				width:70%;
			}
		}
	}
	.img{
		position:relative;
	}
	.content{
		padding:40px 30px;
		h3{
			font-size:14px;
			font-weight:700;
			text-transform:uppercase;
			margin-bottom:20px;
		}
		@media only screen and (min-width: $md) {
			max-width:260px;
			margin:0 auto;
		}
		ul{
			list-style:none;
			margin:0;
			padding:0;
			display:flex;
			justify-content:space-between;
			flex-wrap:wrap;
			li{
				display:flex;
				align-items:center;
				margin-bottom:10px;
				text-transform:uppercase;
				width:48%;
				@media only screen and (min-width: $md) {
					width:100%;
				}
				.icon{
					width:36px;
					@media only screen and (min-width: $md) {
						width:46px;
					}
				}
				span{
					width:calc(100% - 36px);
					padding-left:10px;
					@media only screen and (min-width: $md) {
						width:calc(100% - 46px);
						padding-left:20px;
					}
				}
			}
		}
	}
}


.hs-arrow-right,
.hs-arrow-left{
	display:none!important;
}

footer{
	position: relative;
	padding: 30px 0;
	font-size:14px;
	border-top: 1px solid $theme2;
	background:$theme1;
	color:#fff;
	@media only screen and (min-width: $md) {
		padding: 50px 0;
		font-size:16px;
	}
	a{
		color: #fff;
		text-decoration: underline;
		&:hover{
			color: $theme2;
		}
	}
	.container{
		.logo {
			margin-bottom:30px;
			svg, img{
				max-width: 120px;
				@extend %transition;
				width:100%;
				@media only screen and (min-width: $md) {
					max-width: 136px;
				}
			}
		}
		.copy{
			border-top: 1px solid $theme2;
			margin-top:40px;
			padding-top: 20px;
			text-align: center;
			@media only screen and (min-width: $md) {
				margin-top:70px;
				padding-top: 30px;
				display: flex;
				justify-content: space-between;
				text-align: left;
			}
			ul{
				list-style:none;
				margin:0;
				padding:0;
				li{
					display:inline-block;
					margin: 0 10px;
					@media only screen and (min-width: $md) {
						margin-left: 30px;
						margin-right: 0;
					}
				}
			}
		}
		.block{
			width:100%;
			@media only screen and (min-width: $md) {
				display: flex;
				justify-content: space-between;
			}
			h3{
				font-size:14px;
				margin-bottom:5px;
				@extend %font3;
				margin-top: 20px;
				&:first-child{
					margin-top: 0;
				}
				@media only screen and (min-width: $md) {
					margin-top: 30px;
					font-size: 16px;
				}
			}
			.agents{
				b, strong{
					@extend %font2;
				}
				@media only screen and (min-width: $sm) {
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
					.coln{
						width: 48%;
					}
				}
			}
			.navi{
				ul{
					columns: 2;
					margin-top: 40px;
					@media only screen and (min-width: $md) {
						columns: 1;
						margin-top: 0;
					}
					li{
						margin-bottom: 10px;
						a{	
							@extend %font3;
							text-decoration: none;
						}
					}
				}
			}
			ul{
				list-style:none;
				margin:0;
				padding:0;
				li{
					margin-bottom:5px;
				}
			}
			ul.social{
				list-style:none;
				margin:30px 0;
				padding:0;
				@media only screen and (min-width: $md) {
					margin-bottom: 0;
				}
				li{
					display:inline-block;
					margin: 0 14px 0 0px;
					columns:1;
					a{
						display:inline-block;
						width:21px;
						height:21px;
						&:hover{
							opacity:0.7;
						}
						img{
							width:100%;
							height:100%;
							object-fit:contain;
						}
					}
				}
			}
			.column{
				margin-bottom:20px;
				word-wrap: break-word;
				@media only screen and (min-width: $md) {
					margin-bottom:0;
					padding-right:20px;
					width: 52%;
					&:first-child{
						width:25%;
						align-self:center;
					}
					&:last-child{
						padding-right:0;
						width: 199px;
					}
				}
			}
		}
	}
}


.image-full{
	.image{
		img{
			width:100%;
		}
	}
}

.slick-dots{
	margin:10px 0 0;
	padding:0;
	text-align:center;
	font-size:0;
	li{
		margin:0 5px;
		display: inline-block;
		opacity:0.3;
		&.slick-active{
			opacity:1;
		}
	}
	button{
		border:0;
		width:8px;
		height:8px;
		background:#fff;
		border-radius:50%;
		text-indent:-9999px;
		padding:0;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


.wpcf7-not-valid-tip{
	margin-top:5px!important;
	color:red;
}

.wpcf7 form .wpcf7-response-output{
	padding:0!important;
	border:0!important;
	margin:0px 0 20px!important;
	font-size:15px!important;
}

.grecaptcha-badge{
	display:none!important;
}

.modal-dialog{
	max-width:1320px;
}
.modal-header{
	border:0;
	padding-bottom:0;
}

.modal-content{
	border-radius:0;
	border:0;
	color:#000;
	.block{
		h2{
			color:$theme1;
			text-transform:uppercase;
			font-size:26px;
			font-weight:700;
			margin-bottom:20px;
			@media only screen and (min-width: $md) {
				font-size:34px;
				margin-bottom:30px;
				max-width:508px;
			}
		}
		h3{
			font-size:18px;
			text-transform:uppercase;
			font-weight:700;
		}
		ul{
			margin-left:-25px;
			li{
				margin-bottom:5px;
			}
			li::marker{
				color:$theme1;
			}
		}
		.image{
			img{
				width:100%;
				height:100%;
				object-fit:contain;
			}
			height: 200px;
			@media only screen and (min-width: $md) {
				height:500px;
			}
		}
		@media only screen and (min-width: $md) {
			display:flex;
			justify-content:space-between;
			.column{
				width:48%;
				&:last-child{
					width:50%;
				}
			}
		}
	}
	.modal-body{
		padding:25px;
		@media only screen and (min-width: $md) {
			padding:50px;
		}
	}
}


@-webkit-keyframes animateThis {
	0% {
		height: 0;
	}
	100% {
		height: 100%;
	}
}


.gm-style-cc {
	display: none !important;
}

.gmnoprint a, .gmnoprint span {
	display: none !important;
}